<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Điện máy xanh VN</title>
</head>
<body>
    <h1>ĐIỆN MÁY XANH VN</h1>
    <table>
        <tr>
            <td>
                <form method="GET" action="product-manager">
                    <table>
                        <tr>
                            <td>
                                <input type="submit" value="QUẢN LÝ SẢN PHẨM">
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td>
                <form method="GET" action="/order">
                    <table>
                        <tr>
                            <td>
                                <input type="submit" value="ĐẶT HÀNG ONLINE">
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td>
                <form method="GET" action="/order-manager/">
                    <table>
                        <tr>
                            <td>
                                <input type="submit" value="QUẢN LÝ ĐƠN ĐẶT HÀNG">
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>